.Notification {
  width: 300px;
  justify-content: center;
  .notice {
    background-color: gray;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: gray;
    color: #fff;
    text-align: center;
  }
}