.AccountPage {

  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 60px;
  background-image: url(http://ronherman.jp/images/recuit_main.png);
  background-size: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.AccountPage__title {
  width: 50%;
  font-size: 14px;
  font-weight: 200;

  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    &:after {
      content: "";
      display: block;
      width: 60px;
      margin-top: 5px;
      border-bottom: 1px solid #48d1cc;
    }
  }

  .Button {
    margin-top: 40px;
    color: #fff;
    background-color: #ccc;
    border-radius: 6px;
  }
}

.AccountPage__form {
  width: 50%;
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    color: white;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #48d1cc;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      border-radius: 6px;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  background:#48d1cc;/*背景色*/
  color: #00BCD4;/*=背景色*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
  border-bottom: solid 2px #118e9e;
  border-right: solid 2px #118e9e;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  // color: #fff;
  // background-color: #48d1cc;ssss
  // justify-content: center;
  // border-radius: 20px;
  // border-bottom: solid 5px #20b2aa;
  cursor: pointer;
}

.UserButton:active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: none;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    // 
    color: #ccffff;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: white;
  }
}